body{
    background-color: #23252b;
}
.navbar-brand img{
    width: 20%;
    height: 20%;
    margin-bottom: 22px;
}
.container-fluid{
    background-color: #00000091;
    position: fixed;
    top: 0;
    z-index: 15;
}
.container-fluid a:hover{
    color: #d8d8d8;
}
.nav-item a, .navbar-toggler-icon{
    color: rgb(255, 255, 255);
}
.dropdown-menu a{
    color: #000000;
}
.dropdown-menu a:hover{
    color: #ff0000;
    background-color: #e4e4e4;
}
.sobre{
    background-color:#acacac;
    color: white;
}
.p{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}
.p .card{
    margin: 50px;
}
.card .btn{
    background-color: #000000;
    border: none;
}
.card .btn:hover{
    background-color: #424242;
}
.bg{
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 2.0);
}
.personagem, .title{
    margin: 80px 0px 0px 80px;
}
.texto{
    margin: 100px;
}
.sobre{
    background-color: #23252b;
    margin-top: auto;
    padding-top: 40px;
    padding-bottom: 100%;
}
.a{
    height: 300px;
    margin-top: 40px;
}
.resumo{
    display: flex;
}
.card{
    margin: 50px;
}
.card-body{
    display: flex;
    flex-wrap: wrap;
}
.card-text{
    text-align: justify;
    margin: 10px;
}
.autores{
    display: flex;
    flex-wrap: wrap;
}
.img{
    height: 500px;
    width: auto;
    margin: 20px;
}
.info{
    display: flex;
    justify-content: center;
}
.sinopse{
    line-height: 30px;
    text-align: justify;
    font-size: large;
}
.dub{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.dubl{
    width: 300px;
    height: 400px;
}
.dublador{
    width: 300px;
    height: 350px;
}
.row{
    width: 600px;
    height: 230px;
    overflow: hidden;
}
h4{
    color: #b9b9b9;
    font-size: larger;
    line-height: 25px;
    margin: 40px 40px 0px 40px;
}
.lawliet{
    margin: 20px 40px 0px 40px;
    text-align: justify;
    flex-wrap: wrap
}
h2{
    margin: 40px 0px 0px 40px;
}
.video{
    margin: 40px 0px 0px 40px;
}
.l-img{
    display: flex;
    flex-wrap: wrap;
}
.foto{
    width: 250px;
    margin: 20px;
}
.p{
    display: flex;
    flex-wrap: wrap;
}